.login{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.input
{
    padding: 5px;
    width: 170px;
    height: 40px;
    border-radius: 4px;
    background-color: white;
    color: #777777;
    border: 1px solid #e7e7e7;
    font-size:100%;
    font-family: 'Dosis', sans-serif;
    margin: 2px;
}
.input:focus{
    border: 1px solid #777777; 
}

.loginButton {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: white;
    color: #777777;
    border: 1px solid #e7e7e7;
    font-size:100%;;
    font-family: 'Dosis', sans-serif;
}
.loginButton:hover {
    background-color: #e7e7e7;
}
.login > img {
    width: 300px;
}

.login > p {
    color: red;
}
/* For the auto fill, stops it from coming up as yellow. */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #e7e7e7;
  -webkit-text-fill-color: #909090;
  -webkit-boxshadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}