* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
 height:100%;
 background-repeat: no-repeat;
 background-attachment: fixed; 
}

h2, p{
font-family: 'Dosis', sans-serif;
}

.app{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table, th, td {
  border: 0.5px solid black;
}

th, td {
  padding:5px;
}

.loader {
  margin-top: 5rem;
  width: 5rem;
  height: 5rem;
  -webkit-animation:spin 3s linear infinite;
  -moz-animation:spin 3s linear infinite;
  animation:spin 3s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }