.graphContainer {
    width: 700px;
}

.graph {
    width: 700px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    position: relative;
}

h1{
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .graphContainer {
        width: 100%;
    }
}

.graphHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.coin-img {
    width: 30px;
    padding: 5px;
}
