.exchangeContainer{
    width: 50%;
    margin: 10px;
}
.exchangeTable{
    width: 100%;
}
.exchangeTable, th, td{
    border: 1px solid#e5e5e5;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
    white-space: nowrap;
    white-space: pre-line;
    word-wrap: break-word;
}
.exchangeContainer > h1{
    text-align: center;
}
