.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container > h2{
  margin-top: -40px;
}

.loader {
  margin-top: -50px;
  animation-name: stretch;
  animation-duration: 1s; 
  animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
}

@keyframes stretch {
  0% {
    height: 200px;
    width: 200px;
    padding: 50px;
}
  100% {
    padding: 50px;
    width: 250px;
    height: 250px
      }
}

@media screen and (max-width: 380px){
  .loader{
   margin-top: -120px;
  }
}